.attachments {
  margin: 15px auto 0;
  outline: 0;
}
.attachments > .attachment {
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  outline: 0;
}
.attachments > .attachment > .attachment-inner {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #e6e6e6;
}
.attachments > .attachment > .attachment-inner a {
  display: block;
  position: relative;
}
.attachments > .attachment > .attachment-inner img {
  -webkit-box-shadow: 0 0 1px 1px #ddd;
  -moz-box-shadow: 0 0 1px 1px #ddd;
  box-shadow: 0 0 1px 1px #ddd;
}
.attachments > .attachment.selected .attachment-inner a {
  -webkit-box-shadow: 0 0 0 5px #2185d0;
  -moz-box-shadow: 0 0 0 5px #2185d0;
  box-shadow: 0 0 0 5px #2185d0;
}
@media screen and (max-width: 480px) {
  .attachments > .attachment .attachment-action {
    padding-top: 53px;
  }
}
@media screen and (min-width: 480px) {
  .attachments > .attachment .attachment-action {
    padding-top: 103px;
  }
}
@media screen and (min-width: 992px) {
  .attachments > .attachment .attachment-action {
    padding-top: 73px;
  }
}
@media screen and (min-width: 1200px) {
  .attachments > .attachment .attachment-action {
    padding-top: 53px;
  }
}
.attachments.select-mode .attachment img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.attachments.select-mode .attachment.selected a {
  -webkit-box-shadow: 0 0 0 5px #db2828;
  -moz-box-shadow: 0 0 0 5px #db2828;
  box-shadow: 0 0 0 5px #db2828;
}
.attachments.select-mode .attachment.selected img {
  opacity: 1;
  filter: alpha(opacity=100);
}

.attachment-preview {
  background-color: #e6e6e6;
  display: block;
  min-height: 150px;
  width: 100%;
}

.dz-message {
  background-color: #fefefe;
  border: 1px dashed #ddd;
  display: block;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.dz-preview {
  margin: 0 !important;
  vertical-align: baseline !important;
  display: block !important;
  float: left;
  height: 150px !important;
}
.dz-preview.dz-image-preview {
  background: none !important;
  margin: 0 0 40px !important;
  padding: 0 16px;
}
.dz-preview .dz-image {
  -wekbit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 5px;
  width: 150px !important;
  height: 140px !important;
  overflow: visible !important;
}
.dz-preview .dz-image img {
  -webkit-box-shadow: 0 0 1px 1px #ddd;
  -moz-box-shadow: 0 0 1px 1px #ddd;
  box-shadow: 0 0 1px 1px #ddd;
  width: 150px !important;
  height: 140px !important;
}

.dz-hidden-input {
  display: none !important;
}
